html {
    color: #eee;
    font-size: 1em;
    line-height: 1.4;
}

body {
  height: 100%;
}

img {
    vertical-align: middle;
}

header {
	height: 60px;
	left:0px;
	position:fixed;
	top:0px;
	width: 98%;
	z-index: 2;
	padding: 1%;
}

#menu-container {
	float: right;
	width: 100%;
	max-width: 400px;
}

#menu {
	position: relative;
    padding-bottom: 16.667%;	
}

#social {
	position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
	text-align: center;
	display: block;
	float: right;
	padding: 0;
	margin: 0;
	font-size: 12px;
	
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		background-size: cover;
		width: 16.667%;
		height: 98%;
		display: block;
		float: left;
	}

	a {
		width: 100%;
		height: 100%;
		display: block;
		float: left;
	}
}

#facebook {
	background-image: url(../img/facebook.svg);	
}

#twitter {
	background-image: url(../img/twitter.svg);	
}

#linkedin {
	background-image: url(../img/linkedin.svg);	
}

#github {
	background-image: url(../img/github.svg);	
}

#email {
	background-image: url(../img/email.svg);	
}

#resume {
	background-image: url(../img/resume.svg);	
}

.stars, .twinkling {
  bottom:0;
  display:block;
  height:100%;
  left:0;
  position:absolute;
  right:0;
  top:0;
  width:100%;
}

.stars {
  background:#000 url(../img/stars.png) repeat top center;
  z-index:0;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.twinkling {
  background:transparent url(../img/twinkling.png) repeat top center;
  animation:move-twink-back 200s linear infinite;
  z-index:1;
}

footer {
	background: transparent url(../img/earth.jpg) no-repeat center center {
		size: cover;
	}
	bottom: 0px;
	left: 0px;
	padding-bottom: 14.843%;
	position:fixed;
	width: 100%;
	z-index: 2;
}
